body{
    background-color: #eaeff1;
    
}

#container{
    max-width: 330px;
    margin: 0 auto;
    margin-top: 20vh;
    height: auto;
}
img{
    width: 280px;
    height: auto;
    border-radius: 12px;
    height: 300px;
    object-fit: cover;
}
.card{
    background-color: white;
    border: 1px solid #426d86;
    padding: 25px;
    border-radius: 12px;
}
.details{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}
h2{
    font-size: medium;
}
p{
    color: rgb(81, 79, 79);
}